#footer {
  position: relative;
  padding: 0;
  color: #043353;
  font-size: 0.9em;
}


#footer a {
  color: #043353;
}

#footer a:hover {
  color: #18a4e0;
}

.social-icons li {
  display: inline-block;
  margin-right: 8px;

}

li {
  list-style: none;

}


@media only screen and (max-width: 30rem) {
  #footer h5 {
    font-size: 4.5vw;
  }

  #footer p,
  li,
  a {
    font-size: 4vw;
  }

  .parent {
    grid-template-columns: 1fr;
  }

}

@media only screen and (min-width: 30.0625rem) and (max-width: 48rem) {

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .policies li {
    display: inline;
  }

  .policies li:nth-child(2) {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 62rem) and (min-width: 48.0625rem) {
  #footer h5 {
    font-size: 2vw;
  }

  #footer p,
  li,
  a {
    font-size: 1.9vw;
  }

  .parent {
    justify-content: center;
  }
}
