<div class="company-services my-5" id="service-we-offer">
  <div class="container">
    <div class="row">
      <div class="card col px-0">
        <div class="card-header" style="background-color: #0088cc;">
          <div class=" col-12">
            <div class="service-title mx-auto text-center">
              <h1 style="color: white;">service we offer</h1>
            </div>
          </div>
        </div>
        <div class="card-body" style="box-shadow: 0px 5px 20px 0px #bbbbbb;">
          <div class="card-deck grid">
            <div class="card child mb-3">
              <img class="service-item rounded img-thumbnail"
                src="../../assets/action-asphalt-auto-automobile-193667.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Service title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
            <div class="card child mb-3">
              <img class="service-item rounded img-thumbnail"
                src="../../assets/red-white-and-teal-cargo-ship-on-water-972939.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Service title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
            <div class="card child mb-3">
              <img class="service-item rounded img-thumbnail" src="../../assets/delivery.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Service title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
            <div class="card child mb-3">
              <img class="service-item rounded img-thumbnail"
                src="../../assets/assorted-color-cargo-containers-near-body-of-water-2091159.jpg" alt="">
              <div class="card-body">
                <h5 class="card-title">Service title</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
