<!-- <ng-sidebar-container>

  <ng-sidebar [closeOnClickOutside]="_closeOnClickOutside" [mode]="_mode" [(opened)]="_opened" [dock]="true"
    [dockedSize]="'20px'">
    <div class="button-toggle">
      <a [ngClass]="_opened == true ? 'sidenav-slide arrow-left': 'sidenav-slide'" (click)="_toggleOpened()">
        <i class="fa fa-chevron-right fa-lg fa-2x"></i>
      </a>
    </div>

    <div class="side-menu">
      <div class="side-navigation-container">
        <div [ngClass]="_opened == true ? 'sidenav-list' : 'sidenav-list-hide'">
          <a class="sidenav-button" [routerLink]="['']" [routerLinkActive]="['active']" (click)="_toggleOpened()"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
          <a class="sidenav-button" [routerLink]="['/about']" [routerLinkActive]="['active']"
            (click)="_toggleOpened()">About</a>
          <a class="sidenav-button" [routerLink]="['/services']" [routerLinkActive]="['active']"
            (click)="_toggleOpened()">Services</a>
          <a class="sidenav-button" [routerLinkActive]="['active']" (click)="_toggleOpened()">List of Transport
            Equipment</a>
          <a class="sidenav-button" [routerLinkActive]="['active']" (click)="_toggleOpened()">Contact us</a>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content style="overflow: hidden;">
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container> -->
