#home {
  margin: 0;
  color: #faf8f0;
  height: calc(100vh - 200px);
  width: 100%;
  background-image:
    linear-gradient(#2b3547b4, #2b3547b4),
    url("../../../assets/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 
.showcase::after {
  content: '';
  height: 80vh;
  width: 100%;
  background-image:
    linear-gradient(#253e6bb4, #253e6bb4),
    url("../../../assets/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transition: all 500ms;

} */

.home-content {
  z-index: 1;
  left: 0;
  right: 0;
  padding-top: 7em;

}

.home-content .title {
  animation-delay: 2.5s;
  /* transform: translateX(-100rem); */
  /* animation: slideIn 3s forwards; */
}

.home-content .text {
  animation-delay: 3s;
  /* transform: translateX(100rem); */
  /* animation: slideIn 3s forwards; */
}

@keyframes slideIn {
  from {}

  to {
    transform: translateY(0);
  }
}


@media only screen and (max-width: 62rem) {
  #home {
    height: calc(100vh - 70px);
  }
}

@media only screen and (max-width: 30rem) {
  .home-content {
    width: 100%;
  }

  .home-logo img {
    width: 50vw;
    height: 50vw;
  }

  .business-name h1 {
    font-size: 10vw;
    font-size: 1.5rem;
  }
}
