<div class="showcase" id="home">
  <div class="container">
    <div class="row" align="center">
      <div class="home-content">

        <div class="col-md-12 title">
          <div class="business-name pt-5">
            <h1>Eastblue Cargo Express</h1>
          </div>
        </div>

        <div class="col-md-6 text">
          <div class="intro">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi fugit odio laborum reiciendis quisquam
              quibusdam assumenda perspiciatis fuga, velit debitis!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-about-ece></app-about-ece>
<!-- <app-why-choose-us></app-why-choose-us> -->
<div class="container-fluid" style="background-color: #18a4e0;">
  <app-footer></app-footer>
</div>
