<div id="navbar" class="nav">
  <div hamburger class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>


  <ul class="button-list">
    <li class="button-link"><a [routerLink]="['']" [routerLinkActive]="['active']" href="#">Home</a></li>
    <li class="button-link"><a [routerLink]="['/services']" [routerLinkActive]="['active']" href="#">Services</a></li>
    <li class="button-link"><a [routerLink]="['']" [routerLinkActive]="['active']" href="#">Contact Us</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
