<div id="navbar" class="nav" [ngStyle]="{'background': navHeight === true ? '#253e6b' : ''}">
  <div hamburger class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="company-logo">
    <img src="../../assets/ece.png" alt="ECE">
  </div>

  <ul class="button-list">
    <li class="button-link"><a [routerLink]="['']" [routerLinkActive]="['active']" [fragment]="''">Home</a></li>
    <li class="button-link"><a [routerLink]="['']" [routerLinkActive]="['']" [fragment]="'about'">About
        us</a></li>
    <li class="button-link"><a [routerLink]="['/services']" [routerLinkActive]="['']">Services</a>
    </li>
    <li class="button-link"><a [routerLink]="['']" [routerLinkActive]="['']" [fragment]="''">Contact Us</a></li>

  </ul>
</div>

<router-outlet></router-outlet>
