<div class="showcase" id="home">
  <div class="container">
    <div class="row" align="center">
      <div class="home-content position-absolute mx-auto">
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
          <div class="home-logo pt-5">
            <img id="logo-remove" class="rounded-circle" src="../../assets/ece.jpg" alt="logo">
          </div>
        </div>

        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
          <div class="business-name">
            <h1>Eastblue Cargo Express</h1>
          </div>
        </div>

        <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="intro">
            <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, at!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<service-we-offer></service-we-offer>
<app-why-choose-us></app-why-choose-us>
<app-footer></app-footer>
