<section class="about-company py-5" id="about">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 py-3">
        <div class="about-intro py-3">
          <h1 class="mb-4 text-center about-title">About us</h1>
          <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo ea voluptatum incidunt voluptatem id enim
            labore totam? Laborum eligendi inventore sed dolores recusandae iusto voluptatibus, odio velit voluptatem
            rem
            neque doloremque. Sint, debitis ad. Error laboriosam ut aperiam animi possimus!
          </p>
        </div>

      </div>


    </div>
  </div>

  <div class="mission-vision" style="box-shadow: 0 20px 10px 0 #bbbbbb;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="mission-container">
            <div class="mission-content text-center py-3">
              <h3>Mission</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, voluptas temporibus at incidunt nemo
                quidem odit doloribus modi aspernatur cum officia explicabo labore, consectetur sit earum illo a,
                adipisci
                deleniti.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="vision-container">
            <div class="vision-content text-center py-3">
              <h3>vision</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, voluptas temporibus at incidunt nemo
                quidem odit doloribus modi aspernatur cum officia explicabo labore, consectetur sit earum illo a,
                adipisci
                deleniti.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
