<section class="about-company py-5" id="about">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 py-3">
        <div class="about-intro py-3">
          <h1 class="mb-4 text-center about-title">About us</h1>
          <p>EAST BLUE CARGO EXPRESS is a product of dynamic and experienced professionals in the
            Logistics Industry with the aim of providing highly depenedable and cost offeicient services that will cater
            clients Domestic and International Services.</p>
          <p>
            Started as a brokearge and trucking company Jmeg Transport and EBG Customs brokerage the management saw the
            push of Having its own NVOCC to furthermore cater the vast demands of logistics and freight services thus
            making sure of our client that we are commited to be the one stop logistics of their choice.

          </p>
        </div>

      </div>


    </div>
  </div>

  <div class="mission-vision container" style="box-shadow: 0 20px 10px 0 #bbbbbb;">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="mission-container">
          <div class="mission-content text-center py-3">
            <h3>Mission</h3>
            <p>To Provide quick and most convinient way of handling your cargoes all the way making sure that we
              provide excellent service and satisfaction on our client. Making sure the welfare of our employees with
              God as our guide.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="vision-container">
          <div class="vision-content text-center py-3">
            <h3>vision</h3>
            <p>To be your partner that will deliver efficient and quality logistics services thus making East Blue
              Cargo Express your choiced provider.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="our-team-container ">
          <h3 class="text-center">our team</h3>
          <p class="text-center">Team of young innovative and hardworking professionals who is capable of making
            solutions in any
            logsitics requirement and commited to delivered the cargo from Origin to Final Destination or Vice Versa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
