#about {
  margin: 0;
  padding: 0;
}

.parallax {
  display: flex;
  align-items: center;
  background-image: linear-gradient(#2b3547b4, #2b3547b4), url("../../../assets/assorted-color-cargo-containers-near-body-of-water-2091159.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-content {
  position: relative;
}

.background::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/jet-cloud-landing-aircraft-46148.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: block;
  align-items: center;
  opacity: 0.2;
}

.text-container {
  background: rgba(255, 255, 255, 0.493);
  border-radius: 60px 60px 0 60px;
  box-shadow: 0px 5px 20px 0px #bbbbbb;
}

.text-container.left {
  background: rgba(255, 255, 255, 0.493);
  border-radius: 60px 60px 60px 0;
  box-shadow: 0px 5px 20px 0px #bbbbbb;
}

.mission-vision {
  border-radius: 10px;
  background-color: #18a4e0;
}

@media only screen and (max-width: 30rem) {
  .about-header {
    height: 400px;
    width: 100%;
  }

  .about-company h1 {
    font-size: 7vw;
  }

  .about-text {
    text-align: center;
    font-size: 4vw;
  }

  .custom-size {
    font-size: 4vw;
  }
}
