#about-company {
  margin: 0;
  padding: 0;
  color: #043353;

}

.mission-vision {
  background-color: #18a4e0;
}

@media only screen and (max-width: 30rem) {
  .about-header {
    height: 400px;
    width: 100%;
  }

  .about-company h1 {
    font-size: 7vw;
  }

  .about-text {
    text-align: center;
    font-size: 4vw;
  }

  .custom-size {
    font-size: 4vw;
  }
}
