<div class="company-services" id="company-services">
  <div class="parallax">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 style="color: #fff;">SERVICES</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center text-center">


      <div class="col-md-4 py-3">
        <img src="../../../assets/service1.jpg" alt="Service-1" class="img-thumbnail">
        <h6>International/Domestic Freight Forwarding</h6>
      </div>

      <div class="col-md-4 py-3">
        <img src="../../../assets/service2.jpeg" alt="Service-2" class="img-thumbnail">
        <h6>Customs Brokerage</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/service3.jpg" alt="Service-3" class="img-thumbnail">
        <h6>Tariff Consultancy</h6>
      </div>

      <div class="col-md-4 py-3">
        <img src="../../../assets/service4.jpg" alt="Service-4" class="img-thumbnail">
        <h6>Trucking Services</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/service5.jpg" alt="Service-5" class="img-thumbnail">
        <h6>N.V.O.C.C</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/delivery.jpg" alt="Service-6" class="img-thumbnail">
        <h6>Door to Door Services</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/service7.jpg" alt="Service-7" class="img-thumbnail">
        <h6>Import/Export Documentation</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/service8.jpg" alt="Service-8" class="img-thumbnail">
        <h6>Breakbulk/Project Cargo</h6>
      </div>
      <div class="col-md-4 py-3">
        <img src="../../../assets/service9.jpg" alt="Service-9" class="img-thumbnail">
        <h6>Packing & Crating</h6>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
