<div class="company-services" id="company-services">

  <div class="parallax">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2 style="color: #fff;">SERVICES</h2>
        </div>
      </div>
    </div>
  </div>


  <div class="container pt-5">
    <div class="row justify-content-center align-items-center">

      <div class="col-md-5 text-center py-3">
        <img src="../../../assets/service1.jpg" alt="Service-1" class="img-thumbnail img-right" width="400"
          height="380">
      </div>

      <div class="col-md-5 py-3 text-left">
        <h6 class="pt-4">International/Domestic Freight Forwarding</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3">
        <h6 class="pt-4">Customs Brokerage</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service2.jpeg" alt="Service-2" class="img-thumbnail" width="400" height="300">
      </div>


      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service3.jpg" alt="Service-3" class="img-thumbnail img-right" width="400"
          height="300">
      </div>

      <div class="col-md-5 py-3 text-left">
        <h6 class="pt-4">Tariff Consultancy</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3">
        <h6 class="pt-4">Trucking Services</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service4.jpg" alt="Service-4" class="img-thumbnail" width="400" height="300">
      </div>

      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service5.jpg" alt="Service-5" class="img-thumbnail img-right" width="400"
          height="300">
      </div>

      <div class="col-md-5 py-3 text-left">
        <h6 class="pt-4">N.V.O.C.C</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3">
        <h6 class="pt-4">Door to Door Services</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/delivery.jpg" alt="Service-6" class="img-thumbnail" width="400" height="300">
      </div>
      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service7.jpg" alt="Service-7" class="img-thumbnail img-right" width="400"
          height="300">
      </div>

      <div class="col-md-5 py-3 text-left">
        <h6 class="pt-4">Import/Export Documentation</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3">
        <h6 class="pt-4">Breakbulk/Project Cargo</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>

      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service8.jpg" alt="Service-8" class="img-thumbnail" width="400" height="300">
      </div>
      <div class="col-md-5 py-3 text-center">
        <img src="../../../assets/service9.jpg" alt="Service-9" class="img-thumbnail img-right" width="400"
          height="300">
      </div>

      <div class="col-md-5 py-3 text-left">
        <h6 class="pt-4">Packing & Crating</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, consequuntur alias! Placeat delectus
          sequi
          dolores, autem cum numquam dolorem quisquam dicta adipisci necessitatibus doloremque dolore exercitationem
          distinctio perspiciatis perferendis quidem!</p>
      </div>
    </div>


  </div>

</div>
